__pycache__/
*.py[cod]
*.so
*.dylib
*.dll
.venv/
build/
dist/
.eggs/
*.egg-info/
*.log
.env
.env.*
.vscode/
.idea/
.coverage
htmlcov/
.mypy_cache/
.pytest_cache/
.cache/
.DS_Store
*.mp4
*.gif
~/.subway_vision/
